<mat-toolbar color="accent" >
  <a style="margin-right:82px;" mat-fab color="primary" routerLink="/">Jokes</a>
  <div id="navbarsExampleDefault">
      <ng-template #anonymousUser> 
            <a mat-button class="nav-link" routerLink="/login">Login</a>
      </ng-template>
      <ng-container *ngIf="appUser; else anonymousUser" class="nav-item">
        <ng-container *ngIf="appUser.isAdmin">
            <a mat-button id="managejokes" class="nav-link" routerLink="/admin/jokes">Manage Jokes</a>
        </ng-container>
        <a mat-button class="nav-link" (click)="logout()">Log Out</a>
      </ng-container>   
  </div>
  
</mat-toolbar>
