<div>
    <p>  
    <button id="newjoke" routerLink="/admin/jokes/new" class="btn btn-primary">New joke</button>
</p>
<div>
    <input placeholder="Search for key" value="" [(ngModel)]="jokesearch">
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of jokes$ | async | searchPipe: jokesearch">
            <td>{{ p.payload.val().title }}</td>
            <td>{{ p.payload.val().price }}</td>
            <td>{{ p.key }} </td>
            <td>
                <a id="{{ p.key }}" [routerLink]="['/admin/jokes',p.payload.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
