
<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<div class="row" style="padding-top: 80px;">

  <div class="col-3">
    <joke-filter [category]="category"> </joke-filter>
  </div>
  <div class="col">
    <div class="row">
        <ng-container *ngFor="let p of filteredjokes; let i = index" >
          <div class="col">
              <div class="card" style="width: 15rem;">
                <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ p.title }}</h5>
                  <p class="card-text">{{ p.description }}</p>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
  </div>
</div>





